###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
.vscode

components/grid/*.md
components/treegrid/*.md
components/hierarchicalgrid/*.md

# All grid specific files that should NOT be ignored:
!components/grid/grid.md
!components/grid/groupby.md
!components/grid/paste-excel.md
!components/grid/master-detail.md
!components/grid/selection-based-aggregates.md

# All tree grid specific files that should NOT be ignored:
!components/treegrid/tree-grid.md
!components/treegrid/groupby.md
!components/treegrid/load-on-demand.md

# All hierarchical grid specific files that should NOT be ignored:
!components/hierarchicalgrid/hierarchical-grid.md
!components/hierarchicalgrid/load-on-demand.md
