<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".shp" />
            <remove fileExtension=".dbf" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
            <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbf" mimeType="application/dbf" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html"/>
                </rule>
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html"/>
                    </conditions>
                    <action type="Redirect" url="{R:1}"/>
                </rule>
                <!-- <rule name="Rewrite underscore with hypens" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)_([^\/_]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}-{R:2}" />
                </rule>
                <rule name="replace underscore with hyphen" stopProcessing="true">
                    <match url="^(.*)_(.*).*$" ignoreCase="false" />
                    <action type="Redirect" url="/{R:1}-{R:2}" />
                </rule> -->
                <rule name="Rewrite to components">
                    <match url="^components/([_0-9a-z-]+)/.*" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Redirect from components">
                    <match url="^components/([_0-9a-z-]+)/.*" />
                    <action type="Redirect" url="{R:1}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
