<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".shp" />
            <remove fileExtension=".dbf" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
            <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbf" mimeType="application/dbf" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect - remove .html" enabled="true" stopProcessing="true">
                    <match url="(.*).html" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite - remove .html" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" logRewrittenUrl="true" />
                </rule>
                <rule name="Replace redirect one underscore with hypens - two words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}" />
                </rule>
                <rule name="Replace rewrite one underscore with hypens - two words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)-([^\/\-]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}" />
                </rule>
                <rule name="Replace redirect two underscore with hypens - 3 words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}" />
                </rule>
                <rule name="Replace rewrite two underscore with hypens - 3 words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)-([^\/\-]*)-([^\/\-]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}" />
                </rule>
                <rule name="Replace redirect three underscore with hypens - 4 words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*)_(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}" />
                </rule>
                <rule name="Replace rewrite three underscore with hypens - 4 words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}" />
                </rule>
                <rule name="Replace redirect four underscore with hypens - 5 words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*)_(.*)_(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}" />
                </rule>
                <rule name="Replace rewrite four underscore with hypens - 5 words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}" />
                </rule>
                <rule name="Replace redirect five underscore with hypens - 6 words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}" />
                </rule>
                <rule name="Replace rewrite five underscore with hypens - 6 words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)-([^\/\-]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}_{R:6}" />
                </rule>
                <!-- <rule name="Replace redirect six underscore with hypens - 7 words" enabled="true" stopProcessing="true">
                    <match url="^(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}-{R:7}" />
                </rule>
                <rule name="Replace rewrite six underscore with hypens - 7 words" enabled="true" stopProcessing="false">
                    <match url="(.*\/[^/]*?)_([^\/_]*)_([^\/_]*)_([^\/_]*)_([^\/_]*)_([^\/_]*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}-{R:7}" />
                </rule> -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
