<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".shp" />
            <remove fileExtension=".dbf" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
            <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbf" mimeType="application/dbf" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <clear />
                <rule name="Replace redirect 8 underscore with hypens - 9 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}-{R:7}-{R:8}-{R:9}" />
                </rule>
                <rule name="Replace rewrite 8 underscore with hypens - 9 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}_{R:6}_{R:7}_{R:8}_{R:9}.html" />
                </rule>
                <rule name="Replace redirect 7 underscore with hypens - 8 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}-{R:7}-{R:8}" />
                </rule>
                <rule name="Replace rewrite 7 underscore with hypens - 8 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}_{R:6}_{R:7}_{R:8}.html" />
                </rule>
                <rule name="Replace redirect 6 underscore with hypens - 7 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}-{R:7}" />
                </rule>
                <rule name="Replace rewrite 6 underscore with hypens - 7 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}_{R:6}_{R:7}.html" />
                </rule>
                <rule name="Replace redirect 5 underscore with hypens - 6 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}-{R:6}" />
                </rule>
                <rule name="Replace rewrite 5 underscore with hypens - 6 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}_{R:6}.html" />
                </rule>
                <rule name="Replace redirect 4 underscore with hypens - 5 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}-{R:5}" />
                </rule>
                <rule name="Replace rewrite 4 underscore with hypens - 5 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}_{R:5}.html" />
                </rule>
                <rule name="Replace redirect 3 underscore with hypens - 4 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}-{R:4}" />
                </rule>
                <rule name="Replace rewrite 3 underscore with hypens - 4 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}_{R:4}.html" />
                </rule>
                <rule name="Replace redirect 2 underscore with hypens - 3 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}-{R:3}" />
                </rule>
                <rule name="Replace rewrite 2 underscore with hypens - 3 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}_{R:3}.html" />
                </rule>
                <rule name="Replace redirect 1 underscore with hypens - 2 words" enabled="false" stopProcessing="true">
                    <match url="(.*)_(.*).*.html$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}-{R:2}" />
                </rule>
                <rule name="Replace rewrite 1 underscore with hypens - 2 words" enabled="false" stopProcessing="true">
                    <match url="(.*)-(.*).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}_{R:2}.html" />
                </rule>
                <rule name="Redirect - remove .html" enabled="false" stopProcessing="true">
                    <match url="(.*).html" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite - remove .html" enabled="false">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
