$black: #000;
$darkgray: #333;
$midgray: #666;
$lightgray: #f1f1f1;
$white: #fff;
$info-color: #0375be;
$warning-color: #fbb13c;
$error-color: #f44336;

$vivid-cerise: #e41c77;
$byzantium: #731963;

$alert-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px -1px rgba(0, 0, 0, 0.08);
