<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
