.article {
    margin-top: 120px;
    margin-bottom: 115px;
}

.article.grid-right {
    margin-left: 280px;
}

.article img {
    max-width: 100%;
}

.article-container {
    height: 100%;
    padding: 24px;
    margin-bottom: 144px;
    z-index: 1;
    @media only screen and (min-width: 992px) {
        display: table-cell;
    }
}
