button,
a,
a > code {
  color: #337ab7;
  cursor: pointer;
}
button:hover,
button:focus,
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a.disable,
a.disable:hover {
  text-decoration: none;
  cursor: default;
  color: #000000;
}

/* additional spacing fixes */
.btn + .btn {
  margin-left: 10px;
}
.btn.pull-right {
  margin-left: 10px;
  margin-top: 5px;
}

.stackblitz-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: rgba($white, 0.8);
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  background: $byzantium;
  padding: 8px 16px;
  margin: 24px 0;
  outline-style: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.08);

  transition: all 0.25s ease-out;
  &:hover,
  &:focus {
    color: rgba($white, 20%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26),
      0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
  }
  &::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-image: url("../../images/stackblitz-logo.svg");
    background-size: 100%;
  }
}
