.table {
    margin-bottom: 10px;
}

table p {
    margin-bottom: 0;
}

table a {
    display: inline-block;
}

.table-responsive {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border: none;

    .table {
        margin: 0;
        border: none;
    }

    thead th {
        color: #585858;
        font-weight: 500;
        padding: 16px 24px !important;
        text-align: left !important;
        border: none !important;
    }

    tbody td {
        padding: 16px 24px !important;
        font-size: 14px;
        text-align: left !important;
        border: none !important;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.14) !important;
    }
}
