{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for
full license information.}} {{!include(/^styles/.*/)}} {{!include(/^fonts/.*/)}} {{!include(favicon.ico)}} {{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
{{>partials/head}}

<body data-spy="scroll" data-target="#affix" data-nav-base-url="//www.infragistics.com" data-lang="{{_language}}">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T65CF7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <header>
        {{^_disableNavbar}} {{>partials/navbar}} {{/_disableNavbar}} {{^_disableBreadcrumb}} {{!>partials/breadcrumb}} {{/_disableBreadcrumb}}
    </header>

    <div id="main" role="main" class="container-fluid">
        {{!#_enableSearch}} {{!--
        <div class="row"> --}} {{!>partials/searchResults}} {{!-- </div> --}} {{!/_enableSearch}}
        <div class="row body-content">

            <div class="sidenav-container col-lg-2 col-md-3">
                {{^_disableToc}} {{>partials/toc}} {{/_disableToc}}
            </div>

            <div class="article-container col-lg-8 col-md-9 col-sm-12">
                <article class="content wrap" id="_content" data-uid="{{uid}}">
                    {{!body}}
                </article>
            </div>

            <div class="col-lg-2 hidden-md">
                {{^_disableAffix}} {{>partials/affix}} {{/_disableAffix}}
            </div>

        </div>

    </div>
    {{^_disableFooter}} {{>partials/footer}} {{/_disableFooter}} {{>partials/scripts}}
</body>

</html>