.sidenav-container {
    display: block;
    position: relative;
    @media only screen and (min-width: 992px) {
        display: table-cell;
        position: relative;
        top: 0;
        bottom: 0;
    }
}

.sidenav {
    margin-right: -15px;
    &__header {
        padding: 24px 16px !important;
        position: relative;
        font-size: 16px !important;
        color: $vivid-cerise;
        font-weight: 400 !important;
    }
    &__header::after {
        position: absolute;
        content: '';
        left: 15px;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #f1f1f1;
    }
}

.toc {
    .nav {
        li {
            position: relative;
            font-size: 14px;
            margin: 0;
            a {
                color: #585858;
                font-weight: normal;
                padding: 16px;
            }
        }

        li.active {
            background-color: #f1f1f1;
            &::before {
                position: absolute;
                content: '';
                width: 2px;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $vivid-cerise;
            }
            a {
                color: #585858;
                font-weight: 500;
            }
            a:hover {
                color: #000;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        &::after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: inset -24px 0 30px -16px rgba(0, 0, 0, 0.14);
            pointer-events: none;
        }
    }
}

.toc-toggle {
    justify-content: center;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #585858;
}
