html,
.root {
  font-family: 'aktiv-grotesk', sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased; }

body,
.article {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  color: #585858; }

h1,
h2,
h3,
h4,
h5,
h6,
.text-break {
  word-wrap: break-word;
  word-break: break-word; }

h1 mark,
h2 mark,
h3 mark,
h4 mark,
h5 mark,
h6 mark {
  padding: 0; }

h1,
.h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 400; }

h2,
.h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #731963; }

h3,
.h3 {
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 300;
  position: relative; }
  h3::after,
  .h3::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    left: 0;
    background-color: #731963; }

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem; }

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-weight: 300; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem; }

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0; }

hr {
  border-color: #cccccc; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.toc {
  background-color: #fff;
  overflow-x: hidden; }

.sidetoc.shiftup {
  bottom: 70px; }

.sidetoc-expand > .caret {
  margin-left: 0;
  margin-top: -2px; }

.sidetoc-expand > .caret-side {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 4px;
  margin-top: -4px; }

.sidetoc-heading {
  font-weight: 500; }

.expand-stub {
  position: absolute;
  left: -10px; }

.toc .nav > li > a.sidetoc-expand {
  position: absolute;
  top: 0;
  left: 0; }

.toc .nav > li > a {
  color: #585858;
  display: block;
  position: relative;
  padding: 0; }

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #000000;
  background: none;
  text-decoration: inherit; }

.toc .nav > li.active > a {
  color: #337ab7; }

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: #23527c; }

.toc .nav > li > .expand-stub {
  cursor: pointer; }

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
  content: '-'; }

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
  content: '+'; }

.toc .nav > li.filtered > ul,
.toc .nav > li.in > ul {
  display: block; }

.toc .nav > li > ul {
  display: none; }

.toc ul {
  font-size: 12px; }

.toc .level1 > li {
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  font-size: 16px; }

.toc .level2 {
  font-weight: normal;
  margin: 5px 0 0 15px;
  font-size: 14px; }

.toc-toggle {
  display: none;
  margin: 0 15px 0 15px; }

.sidetoc-expand > .caret {
  margin-left: 0;
  margin-top: -2px; }

.sidetoc-expand > .caret-side {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 4px;
  margin-top: -4px; }

.sidetoc-heading {
  font-weight: 500; }

.toc .nav > li > a.sidetoc-expand {
  position: absolute;
  top: 0;
  left: 0; }

.toc .nav > li > a {
  color: #585858;
  display: block;
  position: relative;
  padding: 0; }

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #000000;
  background: none;
  text-decoration: inherit; }

.toc .nav > li.active > a {
  color: #337ab7; }

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: #23527c; }

.toc .nav > li > .expand-stub {
  cursor: pointer; }

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
  content: '-'; }

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
  content: '+'; }

.toc .nav > li.filtered > ul,
.toc .nav > li.in > ul {
  display: block; }

.toc .nav > li > ul {
  display: none; }

.toc ul {
  font-size: 12px; }

.toc .level1 > li {
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  font-size: 16px; }

.toc .level2 {
  font-weight: normal;
  margin: 5px 0 0 15px;
  font-size: 14px; }

.toc-toggle {
  display: none;
  margin: 0 15px 0 15px; }

.toc-filter {
  border-radius: 5px;
  background: #fff;
  color: #666666;
  padding: 5px;
  position: relative;
  margin: 0 5px 0 5px; }

.toc-filter > input {
  border: 0;
  color: #666666;
  padding-left: 20px;
  width: 100%; }

.toc-filter > input:focus {
  outline: 0; }

.toc-filter > .filter-icon {
  position: absolute;
  top: 10px;
  left: 5px; }

.sidenav {
  margin-right: -15px; }
  .sidenav__header {
    padding: 24px 16px !important;
    position: relative;
    font-size: 16px !important;
    color: #731963;
    font-weight: 400 !important; }
  .sidenav__header::after {
    position: absolute;
    content: '';
    left: 15px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #f1f1f1; }

.toc .nav li {
  position: relative;
  font-size: 14px;
  margin: 0; }
  .toc .nav li a {
    color: #585858;
    font-weight: normal;
    padding: 16px; }

.toc .nav li.active {
  background-color: #f1f1f1; }
  .toc .nav li.active::before {
    position: absolute;
    content: '';
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #731963; }
  .toc .nav li.active a {
    color: #585858;
    font-weight: 500; }
  .toc .nav li.active a:hover {
    color: #000; }

@media only screen and (min-width: 992px) {
  .toc::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset -24px 0 30px -16px rgba(0, 0, 0, 0.14);
            box-shadow: inset -24px 0 30px -16px rgba(0, 0, 0, 0.14);
    pointer-events: none; } }

.sidenav-container {
  display: block;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .sidenav-container {
      display: table-cell;
      position: relative; } }

.toc-toggle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #585858; }
  .toc-toggle:focus, .toc-toggle:hover {
    color: #731963; }

.sidetoc {
  position: relative;
  margin-left: -15px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  z-index: 1; }

@media only screen and (max-width: 991px) {
  #toc {
    height: auto !important; }
  .toc-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidetoc {
    margin: 0; }
  .sidenav {
    padding: 0;
    margin: 24px 0 !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); } }

.article {
  margin-top: 120px;
  margin-bottom: 115px; }

.article.grid-right {
  margin-left: 280px; }

.article img {
  max-width: 100%; }

.article-container {
  height: 100%;
  padding: 24px;
  z-index: 1; }
  @media only screen and (min-width: 992px) {
    .article-container {
      display: table-cell; } }

.sideaffix {
  margin-top: 24px;
  max-height: 100%;
  overflow: hidden;
  top: 50px;
  position: fixed;
  font-size: 14px; }
  .sideaffix.shiftup {
    bottom: 70px; }
  .sideaffix div.contribution {
    margin-bottom: 20px; }
  .sideaffix div.contribution > ul > li > a.contribution-link {
    padding: 6px 10px;
    font-weight: bold;
    font-size: 14px; }
  .sideaffix div.contribution > ul > li > a.contribution-link:hover {
    background-color: #ffffff; }
  .sideaffix ul.nav > li > a:focus {
    background: none; }

.affix {
  position: relative;
  height: 100%; }

.affix h5 {
  font-size: 14px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 300; }

.affix > ul.level1 {
  overflow: hidden; }

.affix ul > li > a {
  padding: 8px;
  color: #585858;
  font-weight: bold; }
  .affix ul > li > a:hover {
    background: none;
    color: #000; }
    .affix ul > li > a:hover::before {
      background-color: #000; }
  .affix ul > li > a::before {
    position: absolute;
    content: '';
    font-size: 14px;
    width: 2px;
    top: 6px;
    bottom: 6px;
    left: 0;
    background-color: #731963; }

.affix ul > li.active:hover > a {
  color: #585858; }
  .affix ul > li.active:hover > a::before {
    background-color: #731963; }

.affix > ul > li.active:last-child {
  margin-bottom: 24px; }

.affix ul ul > li a {
  position: relative;
  padding: 8px;
  margin-left: 8px;
  font-weight: 300; }

.affix ul ul > li.active:hover a,
.affix ul ul > li.active a {
  color: #731963;
  font-weight: 400; }

.affix ul ul > li:hover a::before,
.affix ul ul > li.active:hover a::before {
  background: none; }

.affix ul ul > li > a::before {
  content: '';
  background: none; }
  .affix ul ul > li > a::before::hover {
    background: none; }

.affix ul > li > a::before,
.affix ul ul {
  display: none; }

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  display: block;
  white-space: nowrap; }

.table {
  margin-bottom: 10px; }

table p {
  margin-bottom: 0; }

table a {
  display: inline-block; }

.table-responsive {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: none; }
  .table-responsive .table {
    margin: 0;
    border: none; }
  .table-responsive thead th {
    color: #585858;
    font-weight: 500;
    padding: 16px 24px !important;
    text-align: left !important;
    border: none !important; }
  .table-responsive tbody td {
    padding: 16px 24px !important;
    font-size: 14px;
    text-align: left !important;
    border: none !important;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14) !important; }

.navbar {
  margin-bottom: 0; }

.navbar .navbar-nav {
  display: inline-block; }

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  padding: 0; }

.navbar-collapse {
  margin: 0 -15px;
  padding: 0; }

.navbar .navbar-brand > span {
  color: #fff; }

.navbar .nav.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400; }
  .navbar .nav.navbar-nav li > a {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .navbar .nav.navbar-nav li.active > a {
    background-color: transparent !important;
    font-weight: 500; }
  .navbar .nav.navbar-nav li.nav__cta > a {
    color: #fff;
    background-color: #0099ff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px 24px;
    border: 1px solid #0099ff; }
    .navbar .nav.navbar-nav li.nav__cta > a:hover {
      color: #0099ff;
      background-color: transparent; }

.anchorjs-link {
  position: absolute;
  color: rgba(115, 25, 99, 0.6);
  font-family: 'Material Icons'; }
  .anchorjs-link:hover {
    color: #731963; }
  .anchorjs-link::after {
    content: 'link';
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; }

button,
a {
  color: #337ab7;
  cursor: pointer; }

button:hover,
button:focus,
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none; }

a.disable,
a.disable:hover {
  text-decoration: none;
  cursor: default;
  color: #000000; }

/* additional spacing fixes */
.btn + .btn {
  margin-left: 10px; }

.btn.pull-right {
  margin-left: 10px;
  margin-top: 5px; }

#main {
  position: relative;
  padding-top: 50px;
  width: 100%;
  min-height: 100%; }

.body-content {
  position: relative;
  overflow: hidden;
  height: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }

header .navbar {
  border-width: 0 0 1px;
  border-radius: 0; }

.fixed_header {
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  top: 0;
  z-index: 9999;
  left: 0; }

.fixed_header + .toc {
  margin-top: 50px;
  margin-left: 0; }

.sidenav,
.fixed_header,
.toc {
  background-color: #fff; }

.breadcrumb {
  margin: 0;
  padding: 10px 0;
  background-color: inherit;
  white-space: nowrap; }

.breadcrumb > li + li:before {
  content: '\00a0/'; }

#autocollapse.collapsed .navbar-header {
  float: none; }

#autocollapse.collapsed .navbar-toggle {
  display: block; }

#autocollapse.collapsed .navbar-collapse {
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

#autocollapse.collapsed .navbar-collapse.collapse {
  display: none !important; }

#autocollapse.collapsed .navbar-nav {
  float: none !important;
  margin: 7.5px -15px; }

#autocollapse.collapsed .navbar-nav > li {
  float: none; }

#autocollapse.collapsed .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

#autocollapse.collapsed .collapse.in,
#autocollapse.collapsed .collapsing {
  display: block !important; }

#autocollapse.collapsed .collapse.in .navbar-right,
#autocollapse.collapsed .collapsing .navbar-right {
  float: none !important; }

#autocollapse .form-group {
  width: 100%; }

#autocollapse .form-control {
  width: 100%; }

#autocollapse .navbar-header {
  margin-left: 0;
  margin-right: 0; }

#autocollapse .navbar-brand {
  margin-left: 0; }

.collapse.in,
.collapsing {
  text-align: center; }

.collapsing .navbar-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

.collapsed .collapse.in .navbar-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

.docs-search {
  background: white;
  vertical-align: middle; }

.docs-search > .search-query {
  font-size: 14px;
  border: 0;
  width: 120%;
  color: #555; }

.docs-search > .search-query:focus {
  outline: 0; }

.search-results-frame {
  clear: both;
  display: table;
  width: 100%; }

j .search-results.ng-hide {
  display: none; }

.search-results-container {
  padding-bottom: 1em;
  border-top: 1px solid #111;
  background: rgba(25, 25, 25, 0.5); }

.search-results-container .search-results-group {
  padding-top: 50px !important;
  padding: 10px; }

.search-results-group-heading {
  font-family: 'Open Sans';
  padding-left: 10px;
  color: white; }

.search-close {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  color: white;
  text-align: center;
  padding: 5px;
  background: #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 200px;
  -webkit-box-shadow: 0 0 10px #111;
          box-shadow: 0 0 10px #111; }

#search {
  display: none; }

/* Search results display*/
#search-results {
  max-width: 960px !important;
  margin-top: 120px;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  display: none; }

#search-results > .search-list {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px; }

#search-results p {
  text-align: center; }

#search-results .sr-items {
  font-size: 24px; }

.pagination > li > a {
  color: #47a7a0; }

.pagination > .active > a {
  background-color: #47a7a0;
  border-color: #47a7a0; }

footer {
  position: relative;
  z-index: 1000; }

.footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding: 15px 0; }
